<div class="modal-dialog modal-xl modal-dialog-scrollable" th:fragment="coupon-popup">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="fullscreenModalLabel">쿠폰등록</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    기본정보
                </div>
                <div class="card-body">
                    <div class="row">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="col-lg-2">쿠폰명</td>
                                <td class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" id="name" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">쿠폰형태</td>
                                <td class="col-lg-10">
                                    <div class="row mb-2">
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" id="infiniteQty" />
                                            <label class="form-check-label" for="">
                                                상품
                                            </label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" id="infiniteQty" />
                                            <label class="form-check-label" for="">
                                                배달
                                            </label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" id="infiniteQty" />
                                            <label class="form-check-label" for="">
                                                멤버십
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="checkbox" id="infiniteQty" />
                                            <label class="form-check-label" for="">
                                                골드
                                            </label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="checkbox" id="infiniteQty" />
                                            <label class="form-check-label" for="">
                                                실버
                                            </label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="checkbox" id="infiniteQty" />
                                            <label class="form-check-label" for="">
                                                브론즈
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">쿠폰상태</td>
                                <td class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                            <label class="form-check-label" for="">
                                                사용대기
                                            </label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                            <label class="form-check-label" for="">
                                                사용가능
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">할인형태</td>
                                <td class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <input class="form-control" type="number" name="flexRadioDefault" id="">
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                            <label class="form-check-label" for="">
                                                정률
                                            </label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                            <label class="form-check-label" for="">
                                                정액
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">제한갯수</td>
                                <td class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <input type="number" class="form-control" id="price" />
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                            <label class="form-check-label" for="">
                                                제한없음
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">발행형태</td>
                                <td class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                            <label class="form-check-label" for="">
                                                수동
                                            </label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                            <label class="form-check-label" for="">
                                                자동
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">사용가능기간</td>
                                <td class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <input id="startDate" class="form-control" type="datetime-local" />
                                        </div>
                                        ~
                                        <div class="col-lg-4">
                                            <input id="endDate" class="form-control" type="datetime-local" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    적용상품정보
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-lg-3">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                            <label class="form-check-label" for="">
                                전체
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                            <label class="form-check-label" for="">
                                특정
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Recipient’s username" aria-label="Recipient’s username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">적용상품추가</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>