<div class="modal-dialog modal-xl modal-dialog-scrollable" th:fragment="member-popup">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="fullscreenModalLabel">회원상세</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="hidden" id="memberId"/>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    기본정보
                </div>
                <div class="card-body">
                    <div class="row">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="col-lg-2">회원명</td>
                                <td class="col-lg-4" id="name">

                                </td>
                                <td class="col-lg-2">생년월일</td>
                                <td class="col-lg-4" id="birthDate">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">휴대폰번호</td>
                                <td class="col-lg-4" id="phoneNumber">

                                </td>
                                <td class="col-lg-2">회원등급</td>
                                <td class="col-lg-4" id="memberGrade">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    내역
                </div>
                <div class="card-body">
                    <div class="row mb-4 justify-content-start">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="memberHistory" id="memberOrder" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="memberOrder">주문내역</label>

                            <input type="radio" class="btn-check" name="memberHistory" id="memberCoupon" autocomplete="off">
                            <label class="btn btn-outline-primary" for="memberCoupon">쿠폰내역</label>

                            <input type="radio" class="btn-check" name="memberHistory" id="memberPoint" autocomplete="off">
                            <label class="btn btn-outline-primary" for="memberPoint">포인트내역</label>

                            <input type="radio" class="btn-check" name="memberHistory" id="memberReview" autocomplete="off">
                            <label class="btn btn-outline-primary" for="memberReview">리뷰내역</label>
                        </div>
                    </div>
                    <div id="memberOrderSection">
                        <div class="row mb-2 justify-content-end">
                            <div class="col-auto">
                                <button type="button" id="searchOrderBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                                    검색
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="col-lg-2">주문일자</td>
                                    <td class="col-lg-10">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <input id="orderStartDate" class="form-control" type="date" />
                                            </div>
                                            ~
                                            <div class="col-lg-2">
                                                <input id="orderEndDate" class="form-control" type="date" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-2">주문유형</td>
                                    <td class="col-lg-10">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <input type="checkbox" class="form-check-input" id="pickup" name="orderType" value="1" checked />
                                                <label class="form-check-label" for="pickup">
                                                    픽업
                                                </label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="checkbox" class="form-check-input" id="delivery" name="orderType" value="2" checked />
                                                <label class="form-check-label" for="delivery">
                                                    배달
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-2">주문상태</td>
                                    <td class="col-lg-10">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <input type="checkbox" class="form-check-input" id="temp" name="orderStatus" />
                                                <label class="form-check-label" for="temp">
                                                    임시저장
                                                </label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="checkbox" class="form-check-input" id="complete" name="orderStatus" />
                                                <label class="form-check-label" for="complete">
                                                    주문완료
                                                </label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="checkbox" class="form-check-input" id="pickupComplete" name="orderStatus" />
                                                <label class="form-check-label" for="pickupComplete">
                                                    픽업완료
                                                </label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="checkbox" class="form-check-input" id="deliveryComplete" name="orderStatus" />
                                                <label class="form-check-label" for="deliveryComplete">
                                                    배달완료
                                                </label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="checkbox" class="form-check-input" id="finish" name="orderStatus" />
                                                <label class="form-check-label" for="finish">
                                                    주문확정
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>검색</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <select class="form-select" id="searchSelect">
                                                    <option selected value="orderId">주문번호</option>
                                                    <option value="memberId">주문자</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" id="searchWord" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div id="memberOrderTable"></div>
                            <script th:inline="javascript">
                                document.addEventListener("DOMContentLoaded", function() {
                                    const memberOrderTable = new Tabulator("#memberOrderTable", {
                                        height:"350px",
                                        pagination: true,
                                        paginationMode: "remote",
                                        paginationCounter:"pages",
                                        ajaxURL: "http://localhost:8080/order/list",
                                        ajaxParams: Object.assign({ page: "1", pageLimit: "50" }, buildQueryObject()),
                                        ajaxResponse:function(url, params, response){
                                            return response;
                                        },
                                        columns:[
                                            {title:"주문번호", field:"orderId", width:150},
                                            {title:"주문자", field:"memberName", width:100},
                                            {title:"주문상태", field:"orderStatus", width:100},
                                            {title:"주문일시", field:"orderDate", width:180},
                                            {title:"결제유형", field:"paymentType", width:100},
                                            {title:"결제상태", field:"paymentStatus", width:100},
                                            {title:"총결제금액", field:"totalAmount", hozAlign:"right", sorter:"number", width:120},
                                            {title:"실결제금액", field:"paymentAmount", hozAlign:"right", sorter:"number", width:120},
                                            {title:"결제일시", field:"paymentDate", width:180},
                                        ],
                                    });
                                });

                                function buildQueryObject() {
                                    const query = {};

                                    const startDate = document.getElementById('orderStartDate').value;
                                    const endDate = document.getElementById('orderEndDate').value;

                                    if (startDate) query.orderStartDate = startDate;
                                    if (endDate) query.orderEndDate = endDate;

                                    const orderTypes = Array.from(document.querySelectorAll('input[name="orderType"]:checked'))
                                        .map(el => el.value);
                                    if (orderTypes.length > 0) query.orderType = orderTypes;

                                    const orderStatuses = Array.from(document.querySelectorAll('input[name="orderStatus"]:checked'))
                                        .map(el => el.value); // 또는 el.value
                                    if (orderStatuses.length > 0) query.orderStatus = orderStatuses;

                                    const searchField = document.getElementById('searchSelect').value;
                                    const searchWord = document.getElementById('searchWord').value;

                                    if (searchWord) {
                                        query.searchField = searchField;
                                        query.searchWord = searchWord;
                                    }

                                    return query;
                                }
                            </script>
                        </div>
                    </div>
                    <div id="memberCouponSection">
                        <div class="row mb-2 justify-content-end">
                            <div class="col-auto">
                                <button type="button" id="searchCouponBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                                    검색
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="col-lg-2">발급일자</td>
                                    <td class="col-lg-10">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <input id="startDate" class="form-control" type="date" />
                                            </div>
                                            ~
                                            <div class="col-lg-2">
                                                <input id="endDate" class="form-control" type="date" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-2">사용상태</td>
                                    <td class="col-lg-10">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <input type="radio" class="form-check-input" name="coupon" id="infiniteQty" />
                                                <label class="form-check-label" for="">
                                                    전체
                                                </label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="radio" class="form-check-input" name="coupon" id="infiniteQty" />
                                                <label class="form-check-label" for="">
                                                    사용
                                                </label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="radio" class="form-check-input" name="coupon" id="infiniteQty" />
                                                <label class="form-check-label" for="">
                                                    미사용
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>검색</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>쿠폰명</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" id="basicInput" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div id="memberCouponTable"></div>
                            <script th:inline="javascript">
                                document.addEventListener("DOMContentLoaded", function() {
                                    const memberCouponTable = new Tabulator("#memberCouponTable", {
                                        height:"350px",
                                        layout:"fitColumns",
                                        columns:[
                                            {title:"Name", field:"name", width:200},
                                            {title:"Progress", field:"progress", hozAlign:"right", sorter:"number"},
                                            {title:"Gender", field:"gender", widthGrow:2},
                                            {title:"Rating", field:"rating", hozAlign:"center"},
                                            {title:"Favourite Color", field:"col", widthGrow:3},
                                            {title:"Date Of Birth", field:"dob", hozAlign:"center", sorter:"date", widthGrow:2},
                                            {title:"Driver", field:"car", hozAlign:"center"},
                                        ],
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <div id="memberPointSection">
                        <div class="row mb-2 justify-content-end">
                            <div class="col-auto">
                                <button type="button" id="searchPointBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                                    검색
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="col-lg-2">발급일자</td>
                                    <td class="col-lg-10">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <input id="startDate" class="form-control" type="date" />
                                            </div>
                                            ~
                                            <div class="col-lg-2">
                                                <input id="endDate" class="form-control" type="date" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-2">사용상태</td>
                                    <td class="col-lg-10">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <input type="radio" class="form-check-input" name="point" id="infiniteQty" />
                                                <label class="form-check-label" for="">
                                                    전체
                                                </label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="radio" class="form-check-input" name="point" id="infiniteQty" />
                                                <label class="form-check-label" for="">
                                                    사용
                                                </label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="radio" class="form-check-input" name="point" id="infiniteQty" />
                                                <label class="form-check-label" for="">
                                                    미사용
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div id="memberPointTable"></div>
                            <script th:inline="javascript">
                                document.addEventListener("DOMContentLoaded", function() {
                                    const memberPointTable = new Tabulator("#memberPointTable", {
                                        height:"350px",
                                        layout:"fitColumns",
                                        columns:[
                                            {title:"Name", field:"name", width:200},
                                            {title:"Progress", field:"progress", hozAlign:"right", sorter:"number"},
                                            {title:"Gender", field:"gender", widthGrow:2},
                                            {title:"Rating", field:"rating", hozAlign:"center"},
                                            {title:"Favourite Color", field:"col", widthGrow:3},
                                            {title:"Date Of Birth", field:"dob", hozAlign:"center", sorter:"date", widthGrow:2},
                                            {title:"Driver", field:"car", hozAlign:"center"},
                                        ],
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <div id="memberReviewSection">
                        <div class="row mb-2 justify-content-end">
                            <div class="col-auto">
                                <button type="button" id="searchReviewBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                                    검색
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="col-lg-2">등록일자</td>
                                    <td class="col-lg-10">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <input id="startDate" class="form-control" type="date" />
                                            </div>
                                            ~
                                            <div class="col-lg-2">
                                                <input id="endDate" class="form-control" type="date" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-lg-2">리뷰유형</td>
                                    <td class="col-lg-10">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                                <label class="form-check-label" for="">
                                                    매장리뷰
                                                </label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                                <label class="form-check-label" for="">
                                                    상품리뷰
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>검색</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>상품명</option>
                                                    <option selected>상품아이디</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4">
                                                <input type="text" class="form-control" id="basicInput" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div id="memberReviewTable"></div>
                            <script th:inline="javascript">
                                document.addEventListener("DOMContentLoaded", function() {
                                    const memberReviewTable = new Tabulator("#memberReviewTable", {
                                        height:"350px",
                                        layout:"fitColumns",
                                        columns:[
                                            {title:"Name", field:"name", width:200},
                                            {title:"Progress", field:"progress", hozAlign:"right", sorter:"number"},
                                            {title:"Gender", field:"gender", widthGrow:2},
                                            {title:"Rating", field:"rating", hozAlign:"center"},
                                            {title:"Favourite Color", field:"col", widthGrow:3},
                                            {title:"Date Of Birth", field:"dob", hozAlign:"center", sorter:"date", widthGrow:2},
                                            {title:"Driver", field:"car", hozAlign:"center"},
                                        ],
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        document.querySelectorAll("[name='memberHistory']").forEach(button => {
            button.addEventListener('click', function() {
                const orderSection = document.getElementById("memberOrderSection");
                const couponSection = document.getElementById("memberCouponSection");
                const pointSection = document.getElementById("memberPointSection");
                const reviewSection = document.getElementById("memberReviewSection");

                if (this.id === "memberOrder") {
                    orderSection.style.display = "block";
                    couponSection.style.display = "none";
                    pointSection.style.display = "none";
                    reviewSection.style.display = "none";
                } else if (this.id === "memberCoupon") {
                    orderSection.style.display = "none";
                    couponSection.style.display = "block";
                    pointSection.style.display = "none";
                    reviewSection.style.display = "none";
                } else if (this.id === "memberPoint") {
                    orderSection.style.display = "none";
                    couponSection.style.display = "none";
                    pointSection.style.display = "block";
                    reviewSection.style.display = "none";
                } else {
                    orderSection.style.display = "none";
                    couponSection.style.display = "none";
                    pointSection.style.display = "none";
                    reviewSection.style.display = "block";
                }
            });
        });

        // 페이지 로드 시 초기 상태 설정 (필요하다면)
        document.addEventListener('DOMContentLoaded', (event) => {
            const orderSection = document.getElementById("memberOrderSection");
            const couponSection = document.getElementById("memberCouponSection");
            const pointSection = document.getElementById("memberPointSection");
            const reviewSection = document.getElementById("memberReviewSection");

            if (orderSection && couponSection && pointSection && reviewSection) {
                orderSection.style.display = "block";
                couponSection.style.display = "none";
                pointSection.style.display = "none";
                reviewSection.style.display = "none";
            }
        });
    </script>
</div>