<div class="modal-dialog modal-xl modal-dialog-scrollable" th:fragment="order-popup">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="fullscreenModalLabel">주문상세</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    기본정보
                </div>
                <div class="card-body">
                    <div class="row">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="col-lg-2">주문번호</td>
                                <td class="col-lg-4">

                                </td>
                                <td class="col-lg-2">주문상태</td>
                                <td class="col-lg-4">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">주문일시</td>
                                <td class="col-lg-4">

                                </td>
                                <td class="col-lg-2">배송형태</td>
                                <td class="col-lg-4">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">멤버십등급</td>
                                <td class="col-lg-4">

                                </td>
                                <td class="col-lg-2">주문자</td>
                                <td class="col-lg-4">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">주소</td>
                                <td colspan="3" class="col-lg-10">

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    주문상품정보
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <th>번호</th>
                        <th>상품명</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="col-lg-1">1</td>
                            <td colspan="3" class="col-lg-11">
                                주먹밥
                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-1">2</td>
                            <td colspan="3" class="col-lg-11">
                                짜장면
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    주문결제정보
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td class="col-lg-2">결제일시</td>
                            <td class="col-lg-4">

                            </td>
                            <td class="col-lg-2">결제유형</td>
                            <td class="col-lg-4">
                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-2">결제방식</td>
                            <td class="col-lg-4">

                            </td>
                            <td class="col-lg-2">카드번호</td>
                            <td class="col-lg-4">
                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-2">사용포인트</td>
                            <td class="col-lg-4">

                            </td>
                            <td class="col-lg-2">사용쿠폰수</td>
                            <td class="col-lg-4">
                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-2">사용쿠폰</td>
                            <td colspan="3" class="col-lg-10">

                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-2">총결제금액</td>
                            <td class="col-lg-4">

                            </td>
                            <td class="col-lg-2">실결제금액</td>
                            <td class="col-lg-4">
                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-2">배달비</td>
                            <td class="col-lg-4">

                            </td>
                            <td class="col-lg-2">부가세금액</td>
                            <td class="col-lg-4">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>