<div class="modal-dialog modal-xl modal-dialog-scrollable" th:fragment="product-popup">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="fullscreenModalLabel">상품등록</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    기본정보
                </div>
                <div class="card-body">
                    <div class="row">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="col-lg-2">상품명</td>
                                <td class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" id="name" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">상품유형</td>
                                <td class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" name="productType" id="productType1" value="1">
                                            <label class="form-check-label" for="productType1">
                                                기본형
                                            </label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" name="productType" id="productType2" value="2">
                                            <label class="form-check-label" for="productType2">
                                                옵션형
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">상품상태</td>
                                <td class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" name="status" id="statusALL" value="ALL">
                                            <label class="form-check-label" for="statusALL">
                                                전체
                                            </label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" name="status" id="statusSALE" value="SALE">
                                            <label class="form-check-label" for="statusSALE">
                                                판매중
                                            </label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" name="status" id="statusSTOP" value="SOLDOUT">
                                            <label class="form-check-label" for="statusSTOP">
                                                판매중지
                                            </label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" name="status" id="statusPENDING" value="PENDING">
                                            <label class="form-check-label" for="statusPENDING">
                                                판매대기
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">판매형태</td>
                                <td class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" name="saleForm" id="saleFormBoth" value="BOTH">
                                            <label class="form-check-label" for="saleFormBoth">
                                                픽업+배달
                                            </label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" name="saleForm" id="saleFormPickup" value="PICKUP">
                                            <label class="form-check-label" for="saleFormPickup">
                                                픽업
                                            </label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input class="form-check-input" type="radio" name="saleForm" id="saleFormDelivery" value="DELIVERY">
                                            <label class="form-check-label" for="saleFormDelivery">
                                                배달
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">대표가격</td>
                                <td class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <input type="number" class="form-control" id="price" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">수량</td>
                                <td class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <input type="number" class="form-control" id="quantity" placeholder="판매가능수량"/>
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="checkbox" class="form-check-input" id="isInfiniteQty" />
                                            <label class="form-check-label" for="isInfiniteQty">
                                                제한없음
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2">최소/최대판매수량</td>
                                <td class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <input id="minQuantity" class="form-control" type="number" placeholder="최소판매수량"/>
                                        </div>
                                        ~
                                        <div class="col-lg-2">
                                            <input id="maxQuantity" class="form-control" type="number" placeholder="최대판매수량"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    옵션정보
                </div>
                <div class="card-body">
                    <div class="row mb-4 justify-content-lg-end">
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary">
                                옵션추가
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div id="basicOptionTable"></div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    이미지 정보
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div id="carouselExampleDark" class="carousel carousel-dark slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <img src="https://www.adobe.com/uk/creativecloud/photography/discover/media_1ee5215326f82836b9095f4083bea7c5a9896eba5.png?width=2000&format=webply&optimize=medium" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>First slide label</h5>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img src="https://www.adobe.com/uk/creativecloud/photography/discover/media_1ee5215326f82836b9095f4083bea7c5a9896eba5.png?width=2000&format=webply&optimize=medium" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Second slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="https://www.adobe.com/uk/creativecloud/photography/discover/media_1ee5215326f82836b9095f4083bea7c5a9896eba5.png?width=2000&format=webply&optimize=medium" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Third slide label</h5>
                                        <p>Some representative placeholder content for the third slide.</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Recipient’s username" aria-label="Recipient’s username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    상세정보
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="editor"></div>
                    </div>
                </div>
            </div>
            <script th:inline="javascript">
                document.addEventListener('DOMContentLoaded', function() {
                    const editor = new toastui.Editor({
                        el: document.querySelector('#editor'),
                        previewStyle: 'vertical',
                        height: '500px'
                    });

                    editor.getMarkdown();
                });

                const basicOptionTable = new Tabulator("#basicOptionTable", {
                    height:"300px",
                    columns:[
                        {title:"아이디", field:"optionId", width:100},
                        {title:"옵션타입", field:"optionType", hozAlign:"right"},
                        {title:"옵션그룹", field:"optionGroupId"},
                        {title:"옵션명", field:"name", hozAlign:"center"},
                        {title:"가격", field:"price"}
                    ]
                });
            </script>
        </div>
    </div>
</div>