<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{index}"
      xmlns:th="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    </head>
    <body>
        <div layout:fragment="content">
            <main>
                <div class="container-fluid px-4">
                    <h3 class="mt-4 mb-4">쿠폰관리</h3>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            검색조건
                        </div>
                        <div class="card-body">
                            <div class="row mb-2 justify-content-end">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                                        등록
                                    </button>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                                        검색
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td class="col-lg-2">적용일자</td>
                                        <td class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <input id="applyStartDate" class="form-control" type="date" />
                                                </div>
                                                ~
                                                <div class="col-lg-2">
                                                    <input id="applyEndDate" class="form-control" type="date" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-2">쿠폰유형</td>
                                        <td class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" name="couponType" id="product" value="product" />
                                                    <label class="form-check-label" for="product">
                                                        상품
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" name="couponType" id="delivery" value="delivery" />
                                                    <label class="form-check-label" for="delivery">
                                                        배달
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" name="couponType" id="memberShip" value="memberShip" />
                                                    <label class="form-check-label" for="memberShip">
                                                        멤버십
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-2">쿠폰상태</td>
                                        <td class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" name="status" id="available" value="1" />
                                                    <label class="form-check-label" for="available">
                                                        사용가능
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" name="status" id="end" value="3" />
                                                    <label class="form-check-label" for="end">
                                                        기간만료
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" name="status" id="pending" value="2" />
                                                    <label class="form-check-label" for="pending">
                                                        사용대기
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>검색</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <select class="form-select" id="searchSelect">
                                                        <option selected value="couponName">쿠폰명</option>
                                                        <option value="couponId">쿠폰코드</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" id="searchWord" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            리스트
                        </div>
                        <div class="card-body">
                            <div id="couponListTable"></div>
                        </div>
                        <script th:inline="javascript">
                            const couponListTable = new Tabulator("#couponListTable", {
                                height:"500px",
                                pagination: true,
                                paginationMode: "remote",
                                paginationCounter:"pages",
                                ajaxURL: "http://localhost:8080/coupon/list",
                                ajaxParams: Object.assign({ page: "1", pageLimit: "50" }, buildQueryObject()),
                                ajaxResponse:function(url, params, response){
                                    return response;
                                },
                                columns:[
                                    {title:"쿠폰명", field:"couponName", width:200},
                                    {title:"설명", field:"description", hozAlign:"right", sorter:"number"},
                                    {title:"적용시작일자", field:"applyStartDate", widthGrow:2},
                                    {title:"적용마감일자", field:"applyEndDate", hozAlign:"center"},
                                    {title:"적용상품수", field:"couponProductCount", widthGrow:3},
                                    {title:"사용자수", field:"usedMemberCount", hozAlign:"center", sorter:"date", widthGrow:2},
                                    {title:"미사용자수", field:"nonUsedMemberCount", hozAlign:"center"},
                                ],
                            });

                            function buildQueryObject() {
                                const query = {};

                                const applyStartDate    = document.getElementById('applyStartDate').value;
                                const applyEndDate      = document.getElementById('applyEndDate').value;

                                if (applyStartDate) query.applyStartDate = applyStartDate;
                                if (applyEndDate) query.applyEndDate = applyEndDate;

                                const types = Array.from(document.querySelectorAll('input[name="couponType"]:checked'))
                                    .map(el => el.value);

                                if (types.length > 0) query.couponType = types;

                                const statuses = Array.from(document.querySelectorAll('input[name="status"]:checked'))
                                    .map(el => el.value); // 또는 el.value

                                if (statuses.length > 0) query.status = statuses;

                                const searchField = document.getElementById('searchSelect').value;
                                const searchWord = document.getElementById('searchWord').value;

                                if (searchWord) {
                                    query.searchField = searchField;
                                    query.searchWord = searchWord;
                                }

                                return query;
                            }

                        </script>
                    </div>
                </div>
                <div class="modal fade" id="fullscreenModal" tabindex="-1" aria-labelledby="fullscreenModalLabel" aria-hidden="true">
                    <aside th:replace="fragments/popup/coupon-popup :: coupon-popup"></aside>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>