<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tables - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
        <link href="/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/6.3.1/css/tabulator_bootstrap5.min.css" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <aside th:replace="fragments/navbar :: navbar"></aside>
        <div id="layoutSidenav">
            <aside th:replace="fragments/sidebar :: sidebar"></aside>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h3 class="mt-4 mb-4">쿠폰관리</h3>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                검색조건
                            </div>
                            <div class="card-body">
                                <div class="row mb-2 justify-content-end">
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                                            등록
                                        </button>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                                            검색
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td class="col-lg-2">등록일자</td>
                                            <td class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <input id="startDate" class="form-control" type="date" />
                                                    </div>
                                                    ~
                                                    <div class="col-lg-2">
                                                        <input id="endDate" class="form-control" type="date" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-2">쿠폰유형</td>
                                            <td class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                                        <label class="form-check-label" for="">
                                                            상품
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                                        <label class="form-check-label" for="">
                                                            배달
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                                        <label class="form-check-label" for="">
                                                            멤버십
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-2">쿠폰상태</td>
                                            <td class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                                        <label class="form-check-label" for="">
                                                            사용가능
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                                        <label class="form-check-label" for="">
                                                            기간만료
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <input type="checkbox" class="form-check-input" id="" />
                                                        <label class="form-check-label" for="">
                                                            사용대기
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>검색</td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option selected>쿠폰명</option>
                                                            <option value="1">쿠폰코드</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" id="basicInput" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                리스트
                            </div>
                            <div class="card-body">
                                <div id="productListTable"></div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <div class="modal fade" id="fullscreenModal" tabindex="-1" aria-labelledby="fullscreenModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="fullscreenModalLabel">쿠폰등록</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    기본정보
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <table class="table table-bordered">
                                            <tbody>
                                            <tr>
                                                <td class="col-lg-2">쿠폰명</td>
                                                <td class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <input type="text" class="form-control" id="name" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2">쿠폰형태</td>
                                                <td class="col-lg-10">
                                                    <div class="row mb-2">
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" id="infiniteQty" />
                                                            <label class="form-check-label" for="">
                                                                상품
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" id="infiniteQty" />
                                                            <label class="form-check-label" for="">
                                                                배달
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" id="infiniteQty" />
                                                            <label class="form-check-label" for="">
                                                                멤버십
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="checkbox" id="infiniteQty" />
                                                            <label class="form-check-label" for="">
                                                                골드
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="checkbox" id="infiniteQty" />
                                                            <label class="form-check-label" for="">
                                                                실버
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="checkbox" id="infiniteQty" />
                                                            <label class="form-check-label" for="">
                                                                브론즈
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2">쿠폰상태</td>
                                                <td class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                            <label class="form-check-label" for="">
                                                                사용대기
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                            <label class="form-check-label" for="">
                                                                사용가능
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2">할인형태</td>
                                                <td class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <input class="form-control" type="number" name="flexRadioDefault" id="">
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                            <label class="form-check-label" for="">
                                                                정률
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                            <label class="form-check-label" for="">
                                                                정액
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2">제한갯수</td>
                                                <td class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <input type="number" class="form-control" id="price" />
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                                            <label class="form-check-label" for="">
                                                                제한없음
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2">발행형태</td>
                                                <td class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                            <label class="form-check-label" for="">
                                                                수동
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                            <label class="form-check-label" for="">
                                                                자동
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2">사용가능기간</td>
                                                <td class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <input id="startDate" class="form-control" type="datetime-local" />
                                                        </div>
                                                        ~
                                                        <div class="col-lg-4">
                                                            <input id="endDate" class="form-control" type="datetime-local" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    적용상품정보
                                </div>
                                <div class="card-body">
                                    <div class="row mb-4">
                                        <div class="col-lg-3">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                            <label class="form-check-label" for="">
                                                전체
                                            </label>
                                        </div>
                                        <div class="col-lg-3">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                            <label class="form-check-label" for="">
                                                특정
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="Recipient’s username" aria-label="Recipient’s username" aria-describedby="button-addon2">
                                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">적용상품추가</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/6.3.1/js/tabulator.min.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            previewStyle: 'vertical',
            height: '500px'
        });

        editor.getMarkdown();
    });

    const productListTable = new Tabulator("#productListTable", {
        height:"500px",
        layout:"fitColumns",
        columns:[
            {title:"Name", field:"name", width:200},
            {title:"Progress", field:"progress", hozAlign:"right", sorter:"number"},
            {title:"Gender", field:"gender", widthGrow:2},
            {title:"Rating", field:"rating", hozAlign:"center"},
            {title:"Favourite Color", field:"col", widthGrow:3},
            {title:"Date Of Birth", field:"dob", hozAlign:"center", sorter:"date", widthGrow:2},
            {title:"Driver", field:"car", hozAlign:"center"},
        ],
    });

    const basicOptionTable = new Tabulator("#basicOptionTable", {
        height:"300px",
        layout:"fitColumns",
        columns:[
            {title:"Name", field:"name", width:200},
            {title:"Progress", field:"progress", hozAlign:"right", sorter:"number"},
            {title:"Gender", field:"gender", widthGrow:2},
            {title:"Rating", field:"rating", hozAlign:"center"},
            {title:"Favourite Color", field:"col", widthGrow:3},
            {title:"Date Of Birth", field:"dob", hozAlign:"center", sorter:"date", widthGrow:2},
            {title:"Driver", field:"car", hozAlign:"center"},
        ],
    });

</script>