<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{index}"
      xmlns:th="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    </head>
    <body>
        <div layout:fragment="content">
            <main>
                <div class="container-fluid px-4">
                    <h3 class="mt-4 mb-4">회원관리</h3>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            검색조건
                        </div>
                        <div class="card-body">
                            <div class="row mb-2 justify-content-end">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary" id="searchMembers">
                                        검색
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td class="col-lg-2">가입일자</td>
                                        <td class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <input id="startDate" class="form-control" type="date" value="2023-01-01"/>
                                                </div>
                                                ~
                                                <div class="col-lg-2">
                                                    <input id="endDate" class="form-control" type="date" value="2025-11-01"/>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-2">등급</td>
                                        <td class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <input class="form-check-input" type="radio" name="memberGrade" id="entire" value="">
                                                    <label class="form-check-label" for="entire">
                                                        전체
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input class="form-check-input" type="radio" name="memberGrade" id="gold" value="gold">
                                                    <label class="form-check-label" for="gold">
                                                        골드
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input class="form-check-input" type="radio" name="memberGrade" id="Silver" value="Silver" checked>
                                                    <label class="form-check-label" for="silver">
                                                        실버
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input class="form-check-input" type="radio" name="memberGrade" id="bronze" value="bronze">
                                                    <label class="form-check-label" for="bronze">
                                                        브론즈
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>검색</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <select class="form-select" id="searchSelect">
                                                        <option value="">전체</option>
                                                        <option value="name">회원명</option>
                                                        <option value="memberId">아이디</option>
                                                        <option value="phoneNumber">핸드폰번호</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" id="searchWord"/>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            리스트
                        </div>
                        <div class="card-body">
                            <div id="memberListTable"></div>
                        </div>
                        <script th:inline="javascript">
                            document.addEventListener("DOMContentLoaded", function() {
                                const formData      = getFormdata();
                                const queryString   = jsonToQueryString(formData);

                                const memberListTable = new Tabulator("#memberListTable", {
                                    height:"500px",
                                    pagination: true,
                                    paginationMode: "remote",
                                    paginationCounter:"pages",
                                    ajaxURL: "http://localhost:8080/member/list",
                                    ajaxParams: Object.assign({ page: "1", pageLimit: "50"}, formData),
                                    ajaxResponse:function(url, params, response){
                                        return response;
                                    },
                                    columns:[
                                        {title:"아이디", field:"memberId", width:100, cellClick: function(e, cell){
                                            const targetElement = document.querySelector('[data-bs-target="#fullscreenModal"]');

                                            fetch(`http://localhost:8080/member/${cell.getValue()}`)
                                                .then(response => {
                                                    if (!response.ok) {
                                                        throw new Error(`HTTP error! status: ${response.status}`);
                                                    }
                                                    return response.json();
                                                })
                                                .then(data => {
                                                    document.querySelector("#memberId").innerHTML = data.memberId;
                                                    document.querySelector("#name").innerHTML = data.name;
                                                    document.querySelector("#birthDate").innerHTML = data.birthDate;
                                                    document.querySelector("#phoneNumber").innerHTML = data.phoneNumber;
                                                    document.querySelector("#memberGrade").innerHTML = data.memberGrade;

                                                    if (targetElement) {
                                                        targetElement.click();
                                                    }
                                                })
                                                .catch(error => {
                                                    console.error('Error fetching data:', error);
                                                });
                                        }},
                                        {title:"이름", field:"name", width:100},
                                        {title:"핸드폰번호", field:"phoneNumber", hozAlign:"center"},
                                        {title:"등급", field:"memberGrade", width:100 },
                                        {title:"쿠폰수", field:"ownedCouponCount", hozAlign:"center", width:100},
                                        {title:"주문수", field:"totalOrderCount", width:100}
                                    ]
                                });

                                function getFormdata() {
                                    const startDate = document.getElementById('startDate').value;
                                    const endDate = document.getElementById('endDate').value;
                                    const gradeRadios = document.getElementsByName('memberGrade');

                                    let memberGrade = '';

                                    for (const radio of gradeRadios) {
                                        if (radio.checked) {
                                            memberGrade = radio.value;
                                            break;
                                        }
                                    }

                                    const searchSelectElement = document.querySelector('#searchSelect');

                                    let searchSelect = '';
                                    if (searchSelectElement) {
                                        searchSelect = searchSelectElement.options[searchSelectElement.selectedIndex].value;
                                    }

                                    const searchWord = document.getElementById('searchWord').value;

                                    return {
                                        startDate: startDate,
                                        endDate: endDate,
                                        memberGrade: memberGrade,
                                        searchType: searchSelect,
                                        searchWord: searchWord
                                    };
                                }

                                function jsonToQueryString(params) {
                                    const parts = Object.keys(params)
                                        .map(key => {
                                            let value = params[key];

                                            if (value === null || typeof value === 'undefined') {
                                                value = '';
                                            }

                                            if (Array.isArray(value)) {
                                                return value.map(item =>
                                                    `${encodeURIComponent(key)}=${encodeURIComponent(item)}`
                                                ).join('&');
                                            }

                                            return `${encodeURIComponent(key)}=${encodeURIComponent(value)}`;
                                        })
                                        .join('&');

                                    return parts;
                                }

                                document.querySelector("#searchMembers").addEventListener('click', function (e) {
                                    e.preventDefault();
                                    memberListTable.setData("http://localhost:8080/member/list", Object.assign({ page: "1", pageLimit: "50"}, getFormdata()), "GET");
                                });
                            });
                        </script>
                    </div>
                </div>
                <div class="modal fade" id="fullscreenModal" tabindex="-1" aria-labelledby="fullscreenModalLabel" aria-hidden="true">
                    <aside th:replace="fragments/popup/member-popup :: member-popup"></aside>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>