<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{index}"
      xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
</head>
<body>
    <div layout:fragment="content">
        <main>
            <div class="container-fluid px-4">
                <h3 class="mt-4 mb-4">등급관리</h3>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        리스트
                    </div>
                    <div class="card-body">
                        <div class="row mb-2 justify-content-end">
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary" id="searchMemberGrades">
                                    검색
                                </button>
                            </div>
                        </div>
                        <div id="memberGradeTable"></div>
                        <script th:inline="javascript">
                            document.addEventListener("DOMContentLoaded", function() {
                                const memberGradeTable = new Tabulator("#memberGradeTable", {
                                    height:"500px",
                                    ajaxURL: "http://localhost:8080/member-grade/list",
                                    columns:[
                                        {title:"등급", field:"grade", width:200},
                                        {title:"설명", field:"description", width:200},
                                        {title:"할인타입", field:"discountType"},
                                        {title:"할인율", field:"discountRate"},
                                        {title:"적용최소금액", field:"minOrderAmount"},
                                        {title:"적용최대금액", field:"maxOrderAmount"}
                                    ],
                                });

                                document.querySelector("#searchMemberGrades").addEventListener('click', function (e) {
                                    e.preventDefault();
                                    memberGradeTable.setData("http://localhost:8080/member-grade/list", "GET");
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="fullscreenModal" tabindex="-1" aria-labelledby="fullscreenModalLabel" aria-hidden="true">
                <aside th:replace="fragments/popup/grade-popup :: grade-popup"></aside>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>