<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{index}"
      xmlns:th="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    </head>
    <body>
        <div layout:fragment="content">
            <main>
                <div class="container-fluid px-4">
                    <h3 class="mt-4 mb-4">주문관리</h3>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            검색조건
                        </div>
                        <div class="card-body">
                            <div class="row mb-2 justify-content-end">
                                <div class="col-auto">
                                    <button type="button" id="searchOrders" class="btn btn-primary">
                                        검색
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td class="col-lg-2">주문일자</td>
                                        <td class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <input id="orderStartDate" class="form-control" type="date" />
                                                </div>
                                                ~
                                                <div class="col-lg-2">
                                                    <input id="orderEndDate" class="form-control" type="date" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-2">주문유형</td>
                                        <td class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" id="pickup" name="orderType" value="1" checked />
                                                    <label class="form-check-label" for="pickup">
                                                        픽업
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" id="delivery" name="orderType" value="2" checked />
                                                    <label class="form-check-label" for="delivery">
                                                        배달
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-2">주문상태</td>
                                        <td class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" id="temp" name="orderStatus" />
                                                    <label class="form-check-label" for="temp">
                                                        임시저장
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" id="complete" name="orderStatus" />
                                                    <label class="form-check-label" for="complete">
                                                        주문완료
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" id="pickupComplete" name="orderStatus" />
                                                    <label class="form-check-label" for="pickupComplete">
                                                        픽업완료
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" id="deliveryComplete" name="orderStatus" />
                                                    <label class="form-check-label" for="deliveryComplete">
                                                        배달완료
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" id="finish" name="orderStatus" />
                                                    <label class="form-check-label" for="finish">
                                                        주문확정
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>검색</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <select class="form-select" id="searchSelect">
                                                        <option selected value="orderId">주문번호</option>
                                                        <option value="memberId">주문자</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" id="searchWord" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            리스트
                        </div>
                        <div class="card-body">
                            <div id="orderListTable"></div>
                        </div>
                        <script th:inline="javascript">
                            const orderListTable = new Tabulator("#orderListTable", {
                                height:"500px",
                                pagination: true,
                                paginationMode: "remote",
                                paginationCounter:"pages",
                                ajaxURL: "http://localhost:8080/order/list",
                                ajaxParams: Object.assign({ page: "1", pageLimit: "50" }, buildQueryObject()),
                                ajaxResponse:function(url, params, response){
                                    return response;
                                },
                                columns:[
                                    {title:"주문번호", field:"orderId", width:150},
                                    {title:"주문자", field:"memberName", width:100},
                                    {title:"주문상태", field:"orderStatus", width:100},
                                    {title:"주문일시", field:"orderDate", width:180},
                                    {title:"결제유형", field:"paymentType", width:100},
                                    {title:"결제상태", field:"paymentStatus", width:100},
                                    {title:"총결제금액", field:"totalAmount", hozAlign:"right", sorter:"number", width:120},
                                    {title:"실결제금액", field:"paymentAmount", hozAlign:"right", sorter:"number", width:120},
                                    {title:"결제일시", field:"paymentDate", width:180},
                                ],

                            });

                            document.querySelector("#searchOrders").addEventListener('click', function (e) {
                                e.preventDefault();
                                orderListTable.setData("http://localhost:8080/order/list", Object.assign({ page: "1", pageLimit: "50"}, buildQueryObject()), "GET");
                            });

                            function buildQueryObject() {
                                const query = {};

                                const startDate = document.getElementById('orderStartDate').value;
                                const endDate = document.getElementById('orderEndDate').value;

                                if (startDate) query.orderStartDate = startDate;
                                if (endDate) query.orderEndDate = endDate;

                                const orderTypes = Array.from(document.querySelectorAll('input[name="orderType"]:checked'))
                                    .map(el => el.value);
                                if (orderTypes.length > 0) query.orderType = orderTypes;

                                const orderStatuses = Array.from(document.querySelectorAll('input[name="orderStatus"]:checked'))
                                    .map(el => el.value); // 또는 el.value
                                if (orderStatuses.length > 0) query.orderStatus = orderStatuses;

                                const searchField = document.getElementById('searchSelect').value;
                                const searchWord = document.getElementById('searchWord').value;

                                if (searchWord) {
                                    query.searchField = searchField;
                                    query.searchWord = searchWord;
                                }

                                return query;
                            }
                        </script>
                    </div>
                </div>
                <div class="modal fade" id="fullscreenModal" tabindex="-1" aria-labelledby="fullscreenModalLabel" aria-hidden="true">
                    <aside th:replace="fragments/popup/order-popup :: order-popup"></aside>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>