<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{index}"
      xmlns:th="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    </head>
    <body>
        <div layout:fragment="content">
            <main>
                <div class="container-fluid px-4">
                    <h3 class="mt-4 mb-4">주문관리</h3>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            검색조건
                        </div>
                        <div class="card-body">
                            <div class="row mb-2 justify-content-end">
                                <div class="col-auto">
                                    <button type="button" id="searchOrderBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                                        검색
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td class="col-lg-2">주문일자</td>
                                        <td class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <input id="startDate" class="form-control" type="date" />
                                                </div>
                                                ~
                                                <div class="col-lg-2">
                                                    <input id="endDate" class="form-control" type="date" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-2">주문유형</td>
                                        <td class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                                    <label class="form-check-label" for="">
                                                        픽업
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                                    <label class="form-check-label" for="">
                                                        배달
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-2">주문상태</td>
                                        <td class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                                    <label class="form-check-label" for="">
                                                        임시저장
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                                    <label class="form-check-label" for="">
                                                        주문완료
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                                    <label class="form-check-label" for="">
                                                        픽업완료
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                                    <label class="form-check-label" for="">
                                                        배달완료
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type="checkbox" class="form-check-input" id="" />
                                                    <label class="form-check-label" for="">
                                                        주문확정
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>검색</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>주문번호</option>
                                                        <option value="1">주문자</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" id="basicInput" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            리스트
                        </div>
                        <div class="card-body">
                            <div id="orderListTable"></div>
                        </div>
                        <script th:inline="javascript">
                            const orderListTable = new Tabulator("#orderListTable", {
                                height:"500px",
                                layout:"fitColumns",
                                columns:[
                                    {title:"주문번호", field:"orderId", width:150},
                                    {title:"주문자", field:"memberName", width:100},
                                    {title:"주문상태", field:"orderStatus", width:100},
                                    {title:"주문일시", field:"orderDate", width:180},
                                    {title:"총결제금액", field:"totalAmount", hozAlign:"right", sorter:"number", width:120},
                                    {title:"결제상태", field:"paymentStatus", width:100},
                                    {title:"결제일시", field:"paymentDate", width:180},
                                    {title:"결제유형", field:"paymentType", width:100},
                                    {title:"실결제금액", field:"paymentAmount", hozAlign:"right", sorter:"number", width:120},
                                ],
                            });

                            document.querySelector("#searchOrderBtn").addEventListener("click", function() {
                                fetch('http://localhost:8080/order/list?startDate=2023-01-01&endDate=2023-12-31&page=1&size=20')
                                    .then(response => response.json())
                                    .then(data => {
                                        orderListTable.setData(data);
                                    })
                                    .catch(error => {
                                        console.error('Error fetching data:', error);
                                    });
                            });
                        </script>
                    </div>
                </div>
                <div class="modal fade" id="fullscreenModal" tabindex="-1" aria-labelledby="fullscreenModalLabel" aria-hidden="true">
                    <aside th:replace="fragments/popup/order-popup :: order-popup"></aside>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>