<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{index}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    </head>
    <body>
        <div layout:fragment="content">
            <main>
                <div class="container-fluid px-4">
                    <h3 class="mt-4 mb-4">상품옵션관리</h3>
                    <div class="card-group" style="height: 350px;">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                옵션구분
                            </div>
                            <div class="card-body">
                                <div class="list-group">
                                    <a href="#" onclick="getOptionGroup('single')" class="list-group-item list-group-item-action">기본</a>
                                    <a href="#" onclick="getOptionGroup('multi')" class="list-group-item list-group-item-action">추가</a>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                옵션그룹
                            </div>
                            <div id="optionGroup" class="card-body">

                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                옵션
                            </div>
                            <div id="option" class="card-body">
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            옵션등록
                        </div>
                        <div class="card-body">
                            <div class="row mb-2 justify-content-end">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                                        저장
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table table-bordered">
                                    <tbody>
                                    <!--<tr>
                                        <td class="col-lg-2">옵션구분</td>
                                        <td class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                    <label class="form-check-label" for="">
                                                        기본형
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                    <label class="form-check-label" for="">
                                                        추가형
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-2">옵션그룹</td>
                                        <td class="col-lg-6">
                                            <div class="row">
                                                <div class="dropdown">
                                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                       Dropdown link
                                                    </a>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        <li><hr class="dropdown-divider"></li>
                                                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>-->
                                    <tr>
                                        <td class="col-lg-2">옵션명</td>
                                        <td class="col-lg-10">
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="name" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="descriptionSection">
                                        <td class="col-lg-2">설명</td>
                                        <td class="col-lg-10">
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="description" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="priceSection">
                                        <td class="col-lg-2">가격</td>
                                        <td class="col-lg-10">
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="price" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-2">사용여부</td>
                                        <td class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <input class="form-check-input" type="radio" name="isUsed" id="use" value="true">
                                                    <label class="form-check-label" for="use">
                                                        사용
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input class="form-check-input" type="radio" name="isUsed" id="notUse" value="false">
                                                    <label class="form-check-label" for="notUse">
                                                        미사용
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
<script>
    function getOptionGroup(parameter) {
        fetch(`http://localhost:8080/option-group/${parameter}/list`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                const parent = document.getElementById('optionGroup');

                while (parent.firstChild) {
                    parent.removeChild(parent.firstChild);
                }

                const listGroupUl = document.createElement('ul');
                listGroupUl.className = 'list-group';

                data.forEach(element => {
                    const listItem = document.createElement('li');
                    listItem.className = 'list-group-item list-group-item-action';
                    listItem.setAttribute('href', '#');
                    listItem.setAttribute('onclick', `getOption('${element.optionGroupId}', '${parameter}')`);
                    listItem.setAttribute('aria-current', 'true');
                    listItem.setAttribute('id', element.optionGroupId);
                    listItem.textContent = element.name; // '맛' 텍스트 추가

                    listGroupUl.appendChild(listItem);
                });

                parent.appendChild(listGroupUl);
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }

    function getOption(optionGroupId, optionType) {
        fetch(`http://localhost:8080/option/${optionGroupId}/list`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                const parent = document.getElementById('option');

                while (parent.firstChild) {
                    parent.removeChild(parent.firstChild);
                }

                const listGroupUl = document.createElement('ul');
                listGroupUl.className = 'list-group';

                data.forEach(element => {
                    const listItem = document.createElement('li');
                    listItem.className = 'list-group-item list-group-item-action';
                    listItem.setAttribute('aria-current', 'true');
                    listItem.setAttribute('onclick', `getOptionInfo('${optionGroupId}', '${element.optionId}')`);
                    listItem.setAttribute('id', element.optionId);
                    listItem.textContent = element.name; // '맛' 텍스트 추가

                    listGroupUl.appendChild(listItem);
                });

                parent.appendChild(listGroupUl);

                return {'optionGroupId' : optionGroupId, 'optionType': optionType};
            })
            .then(afterData => {

                fetch(`http://localhost:8080/option-group/${afterData.optionType}/${afterData.optionGroupId}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        document.getElementById('name').value = data.name;
                        document.getElementById('description').value = data.description;
                        document.getElementById('descriptionSection').setAttribute('style', '');
                        document.getElementById('priceSection').setAttribute('style', 'display:none;');
                        const selector = `input[name="isUsed"][value="${data.used}"]`;
                        const radio = document.querySelector(selector);

                        if (radio) {
                            radio.checked = true;
                        }
                        //document.getElementBy('isUsed').value = data.isUsed;
                    }).
                    catch(error => {

                })
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }

    function getOptionInfo(optionGroupId, optionId) {
        fetch(`http://localhost:8080/option/${optionGroupId}/${optionId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('name').value = data.name;
                document.getElementById('descriptionSection').setAttribute('style', 'display:none;');
                document.getElementById('priceSection').setAttribute('style', '');
                document.getElementById('price').value = data.price;

                const selector = `input[name="isUsed"][value="${data.used}"]`;
                const radio = document.querySelector(selector);

                if (radio) {
                    radio.checked = true;
                }
            });
    }
</script>