<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tables - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
        <link href="/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/6.3.1/css/tabulator_bootstrap5.min.css" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="product.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        골목식당
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h2 class="mt-4 mb-4">상품관리</h2>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                검색조건
                            </div>
                            <div class="card-body">
                                <div class="row mb-2 justify-content-end">
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                                            등록
                                        </button>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                                            검색
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td class="col-lg-2">등록일자</td>
                                            <td class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <input id="startDate" class="form-control" type="date" />
                                                    </div>
                                                    ~
                                                    <div class="col-lg-2">
                                                        <input id="endDate" class="form-control" type="date" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-2">상품유형</td>
                                            <td class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                        <label class="form-check-label" for="">
                                                            기본형
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                        <label class="form-check-label" for="">
                                                            옵션형
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-2">상품상태</td>
                                            <td class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                        <label class="form-check-label" for="">
                                                            전체
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                        <label class="form-check-label" for="">
                                                            판매중
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                        <label class="form-check-label" for="">
                                                            판매중지
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-2">판매형태</td>
                                            <td class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <input class="form-check-input" type="checkbox" value="" id="">
                                                        <label class="form-check-label" for="">
                                                            픽업+배달
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <input class="form-check-input" type="checkbox" value="" id="">
                                                        <label class="form-check-label" for="">
                                                            픽업
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <input class="form-check-input" type="checkbox" value="" id="">
                                                        <label class="form-check-label" for="">
                                                            배달
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>검색</td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option selected>상품명</option>
                                                            <option value="1">상품코드</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" id="basicInput" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                리스트
                            </div>
                            <div class="card-body">
                                <div id="productListTable"></div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <div class="modal fade" id="fullscreenModal" tabindex="-1" aria-labelledby="fullscreenModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="fullscreenModalLabel">상품등록</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    기본정보
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <table class="table table-bordered">
                                            <tbody>
                                            <tr>
                                                <td class="col-lg-2">상품명</td>
                                                <td class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <input type="text" class="form-control" id="name" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2">상품유형</td>
                                                <td class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                            <label class="form-check-label" for="">
                                                                기본형
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                            <label class="form-check-label" for="">
                                                                옵션형
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2">상품상태</td>
                                                <td class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                            <label class="form-check-label" for="">
                                                                전체
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                            <label class="form-check-label" for="">
                                                                판매중
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                            <label class="form-check-label" for="">
                                                                판매중지
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                            <label class="form-check-label" for="">
                                                                판매대기
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2">판매형태</td>
                                                <td class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                            <label class="form-check-label" for="">
                                                                픽업+배달
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                            <label class="form-check-label" for="">
                                                                픽업
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                                            <label class="form-check-label" for="">
                                                                배달
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2">대표가격</td>
                                                <td class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <input type="number" class="form-control" id="price" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2">수량</td>
                                                <td class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <input type="number" class="form-control" id="quantity" placeholder="판매가능수량"/>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="checkbox" class="form-check-input" id="infiniteQty" />
                                                            <label class="form-check-label" for="">
                                                                제한없음
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2">최소/최대판매수량</td>
                                                <td class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <input id="minQuantity" class="form-control" type="number" placeholder="최소판매수량"/>
                                                        </div>
                                                        ~
                                                        <div class="col-lg-2">
                                                            <input id="maxQuantity" class="form-control" type="number" placeholder="최대판매수량"/>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    옵션정보
                                </div>
                                <div class="card-body">
                                    <div class="row mb-4 justify-content-lg-end">
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-primary">
                                                옵션추가
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="basicOptionTable"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    이미지 정보
                                </div>
                                <div class="card-body">
                                    <div class="row mb-4">
                                        <div id="carouselExampleDark" class="carousel carousel-dark slide">
                                            <div class="carousel-indicators">
                                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                            </div>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active" data-bs-interval="10000">
                                                    <img src="https://www.adobe.com/uk/creativecloud/photography/discover/media_1ee5215326f82836b9095f4083bea7c5a9896eba5.png?width=2000&format=webply&optimize=medium" class="d-block w-100" alt="...">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h5>First slide label</h5>
                                                        <p>Some representative placeholder content for the first slide.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item" data-bs-interval="2000">
                                                    <img src="https://www.adobe.com/uk/creativecloud/photography/discover/media_1ee5215326f82836b9095f4083bea7c5a9896eba5.png?width=2000&format=webply&optimize=medium" class="d-block w-100" alt="...">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h5>Second slide label</h5>
                                                        <p>Some representative placeholder content for the second slide.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://www.adobe.com/uk/creativecloud/photography/discover/media_1ee5215326f82836b9095f4083bea7c5a9896eba5.png?width=2000&format=webply&optimize=medium" class="d-block w-100" alt="...">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h5>Third slide label</h5>
                                                        <p>Some representative placeholder content for the third slide.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Recipient’s username" aria-label="Recipient’s username" aria-describedby="button-addon2">
                                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    상세정보
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div id="editor"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/6.3.1/js/tabulator.min.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            previewStyle: 'vertical',
            height: '500px'
        });

        editor.getMarkdown();
    });

    const productListTable = new Tabulator("#productListTable", {
        height:"500px",
        layout:"fitColumns",
        columns:[
            {title:"Name", field:"name", width:200},
            {title:"Progress", field:"progress", hozAlign:"right", sorter:"number"},
            {title:"Gender", field:"gender", widthGrow:2},
            {title:"Rating", field:"rating", hozAlign:"center"},
            {title:"Favourite Color", field:"col", widthGrow:3},
            {title:"Date Of Birth", field:"dob", hozAlign:"center", sorter:"date", widthGrow:2},
            {title:"Driver", field:"car", hozAlign:"center"},
        ],
    });

    const basicOptionTable = new Tabulator("#basicOptionTable", {
        height:"300px",
        layout:"fitColumns",
        columns:[
            {title:"Name", field:"name", width:200},
            {title:"Progress", field:"progress", hozAlign:"right", sorter:"number"},
            {title:"Gender", field:"gender", widthGrow:2},
            {title:"Rating", field:"rating", hozAlign:"center"},
            {title:"Favourite Color", field:"col", widthGrow:3},
            {title:"Date Of Birth", field:"dob", hozAlign:"center", sorter:"date", widthGrow:2},
            {title:"Driver", field:"car", hozAlign:"center"},
        ],
    });

</script>